/*
.modal-gradients {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none; 

.gradient-layer {
  position: absolute;
  border-radius: 202.47px;
  mix-blend-mode: plus-lighter;
}


.gradient-rect {
  width: 701.2px;
  height: 425.23px;
  top: 454px;
  left: -121px;
  background: #ffffff;
  opacity: 0.8;
  filter: blur(160px);
  transform: rotate(25.87deg);
}


.gradient-v62 {
  width: 767px;
  height: 322px;
  top: 476px;
  left: -116px;
  background: #1632cd;
  opacity: 0.6;
  filter: blur(300px);
}


.gradient-v62-big {
  width: 1181px;
  height: 496px;
  top: 414px;
  left: -238px;
  background: #1632cd;
  filter: blur(400px);
}


@media (min-width: 1024px) {
  .gradient-rect {
    width: 2224.47px;
    height: 1349.01px;
    top: -190px;
    left: -229.66px;
    transform: rotate(22.81deg);
    filter: blur(160px);
  }
  .gradient-v62 {
    width: 785.71px;
    height: 419.53px;
    top: 206.21px;
    left: -0.98px;
    filter: blur(200px);
  }
  .gradient-v62-big {
    width: 1181px;
    height: 496px;
    top: 414px;
    left: -238px;
    filter: blur(404.95px);
  }
} 
*/
